:root {
  --header-height: 80px;
  --line-height: 20px;
}
html, body {
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  color: #0f0;
  line-height: var(--line-height);
}
header {
  line-height: var(--header-height);
  text-align: center;
}
h1 {
  font-weight: 600;
  font-size: 2rem;
}
main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2rem;
  margin: 0 auto;
  line-height: calc(1.2 * var(--line-height));
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.active-users,
.question-timer {
  line-height: var(--header-height);
  position: fixed;
}
.active-users {
  bottom: 0;
  right: 2rem;
}
.question-timer {
  bottom: 0.5rem;
  left: 2rem;
  font-size: 3rem;
}
.waiting-container,
.question-container  {
  max-width: 300px;
  margin: 0 auto;
}
.waiting-indicator,
.intro-countdown-label {
  text-align: center;
}
.intro-countdown {
  font-size: 3rem;
  line-height: 4rem;
}
.question {
  text-align: center;
}
.question-options {
  display: block;
  margin: 1.5rem auto 0 auto;
  background-color: #000;
  border: 1px solid #0f0;
  color: #0f0;
  padding: 5px 10px;
}
.results {
  text-align: center;
  margin-bottom: calc(2 * var(--line-height));
  font-style: italic;
  font-weight: 600;
}