<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUIZZER</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="global.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">

      <header>
        <h1>QUIZZER LIVE</h1>
      </header>

      <main role="main">
        
        <aside class="active-users">
          {{ activeUsers.length }} players
        </aside>

        <section v-if="waiting" class="waiting-container">

          <section v-if="waiting && (amountCorrect || amountWrong)" class="results">
            you answered {{ amountCorrect }} out of {{ amountCorrect + amountWrong }} correctly
          </section>

          <!-- TODO: set aria-live -->
          <div v-if="introCountdown" class="intro-countdown-label">
            quiz starting in
            <div class="intro-countdown">
              {{ introCountdown }}
            </div>
          </div>
          
          <div v-if="!activeUsers || activeUsers.length === 1" class="waiting-indicator">
            waiting for more players...
          </div>

        </section>
        
        <section v-else class="question-container">
          
          <div class="question-timer">{{ questionTimer }}</div>

          <!-- TODO: set aria-live -->
          <div class="question">{{ question }}</div>
          
          <select class="question-options" v-model="optionSelected" :disabled="optionSelected">
            <option v-for="option in options">
              {{ option }}
            </option>
          </select>
          
        </section>
      
      </main>
    </div>
  <script>
    const host = location.origin.replace(/^http/, 'ws')
    const ws = new WebSocket(host)

    const app = new Vue({
      el: '#app',
      data: {
        // local
        optionSelected: null,
        amountCorrect: 0,
        amountWrong: 0,

        // from socket
        question: null,
        options: null,
        answer: null,
        activeQuestionIndex: null,
        questionTimer: null,
        waiting: true,
        activeUsers: [],
        userID: null,
        introCountdown: null,
        introCountdownActive: null,
      },
      created () {
        ws.onmessage = (e) => {
          const {
            activeQuestion,
            activeQuestionIndex,
            questionTimer,
            waiting,
            activeUsers,
            userID,
            introCountdown,
            introCountdownActive,
          }  = JSON.parse(e.data)

          if (activeQuestion) {
            const {
              question,
              options,
              answer,
            } = activeQuestion
            this.question = question
            this.options = options
            this.answer = answer
          } else {
            this.question = null
            this.options = null
            this.answer = null
          }

          this.activeQuestionIndex = activeQuestionIndex
          this.questionTimer = questionTimer
          this.waiting = waiting
          this.activeUsers = activeUsers
          this.userID = userID
          this.introCountdown = introCountdown
          this.introCountdownActive = introCountdownActive
        }
      },
      watch: {
        answer(newAnswer, oldAnswer) {
          if (newAnswer === oldAnswer) return
          else if (!oldAnswer) {
            this.amountCorrect = 0
            this.amountWrong = 0
            return
          }

          if (this.optionSelected === oldAnswer) {
            this.amountCorrect += 1
          } else {
            this.amountWrong += 1
          }

          this.optionSelected = null
        },
      },
    })
  </script>
</body>
</html>